name: Check Formatting

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  check-formatting:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - uses: leafo/gh-actions-lua@8c9e175e7a3d77e21f809eefbee34a19b858641b
        with:
          luaVersion: 5.4

      - uses: leafo/gh-actions-luarocks@97053c556d6ce2c8e26eb7ac93743437c7af7248

      - name: install
        run: |
          luarocks install --server=https://luarocks.org/dev luaformatter

      - name: check-formatting
        run: |
          bin/format
          git diff
          git diff-index --quiet HEAD
