name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846

      - uses: leafo/gh-actions-lua@v9.1.0
        with:
          luaVersion: 5.4

      - uses: leafo/gh-actions-luarocks@v4.2.0

      - name: build
        run: |
          luarocks install busted

      - name: test
        run: |
          bin/test-all
